<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="./parts/metadata"/>
    <title>FlemensScores</title>

</head>
<body>
<link th:replace="./parts/navbar"/>
<div class="container-lg pt-5">
    <table class="table table-hover">
        <thead>
       <!-- <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>-->
        </thead>
        <tbody>
        <tr th:each="match : ${competitionMatchResponse.matches()}">
            <td>
                <span th:text="${#dates.format(match.utcDate(), 'dd.MM')}"></span>
                <span th:text="${#dates.format(match.utcDate(), 'HH:mm')}"></span>
            </td>
            <td>
                <div th:if="${match.score().winner().equals('HOME_TEAM')}">
                    <span th:text="${match.homeTeam().name().toUpperCase()}"></span>
                    <p th:text="${match.awayTeam().name()}"></p>

                </div>
                <div th:if="${match.score().winner().equals('AWAY_TEAM')}">
                    <p th:text="${match.homeTeam().name()}"></p>
                    <span th:text="${match.awayTeam().name().toUpperCase()}"></span>
                </div>
                <div th:if="${match.score().winner().equals('DRAW')}">
                    <p th:text="${match.homeTeam().name()}"></p>
                    <p th:text="${match.awayTeam().name()}"></p>
                </div>
            </td>
            <td>
                <p th:text="${match.score().fullTime().homeTeam()}"></p>
                <p th:text="${match.score().fullTime().awayTeam()}"></p>
            </td>
            <td>
                <br>
                <p th:text="${match.status()}"></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<link th:replace="./parts/scripts"/>
</body>
</html>