<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="./parts/metadata"/>
    <meta charset="utf-8">
    <title>FlemensScores</title>

</head>
<body>
<link th:replace="./parts/navbar"/>
<div class="container-lg pt-5">
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        <tr th:each="match : ${competitionMatchResponse.matches()}">
            <td>
                <span th:text="${#dates.format(match.utcDate(), 'dd.MM')}"></span>
                <span th:text="${#dates.format(match.utcDate(), 'HH:mm')}"></span>
            </td>
            <td>

                <div th:switch="${match.score().winner()}">
                    <div th:case="null">
                        <p th:text="${match.homeTeam().name()}"></p>
                        <p th:text="${match.awayTeam().name()}"></p>
                    </div>
                    <div th:case="'DRAW'">
                        <p th:text="${match.homeTeam().name()}"></p>
                        <p th:text="${match.awayTeam().name()}"></p>
                    </div>
                    <div th:case="'HOME_TEAM'">
                        <span th:text="${match.homeTeam().name().toUpperCase()}"></span>
                        <p th:text="${match.awayTeam().name()}"></p>
                    </div>
                    <div th:case="'AWAY_TEAM'">
                        <p th:text="${match.homeTeam().name()}"></p>
                        <span th:text="${match.awayTeam().name().toUpperCase()}"></span>
                    </div>
                </div>
            </td>
            <td>
                <p th:text="${match.score().fullTime().homeTeam()}"></p>
                <p th:text="${match.score().fullTime().awayTeam()}"></p>
            </td>
            <td>
                <br>
                <!--   <p th:switch="${match.status()}"></p>-->
                <div th:switch="${match.status()}">
                    <div th:case="'FINISHED'">
                        <p th:text="#{match.status.finished}"></p>
                    </div>
                    <div th:case="'SCHEDULED'">
                        <p th:text="#{match.status.scheduled}"></p>
                    </div>
                    <div th:case="'POSTPONED'">
                        <p th:text="#{match.status.postponed}"></p>
                    </div>
                    <div th:case="'SUSPENDED'">
                        <p th:text="#{match.status.suspended}"></p>
                    </div>
                    <div th:case="'CANCELED'">
                        <p th:text="#{match.status.canceled}"></p>
                    </div>
                    <div th:case="'PAUSED'">
                        <p th:text="#{match.status.paused}"></p>
                    </div>
                    <div th:case="'IN_PLAY'">
                        <!--          <p th:text="#{match.status.in-play} + '&nbsp;&nbsp;'"></p>-->
                        <p th:text="#{match.status.in-play}"></p>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<link th:replace="./parts/scripts"/>
</body>
</html>